{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="dropdown" id="postFormDiv">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" id="menuFormBtn" onclick="addMargin()" style="width:50vw;">
            + New Post
            </button>
            <form class="dropdown-menu p-4" id="newPostForm" novalidate method="post" onsubmit="return false"; style="width:50vw;">
                <div class="alert alert-danger" role="alert" id="postAlert" style="display: none;">
                </div>
                <div class="mb-3">
                    <label for="postText" class="form-label">Tell Your Thoughts!</label>
                    <textarea class="form-control" id="postText" name="npost" minlength="5" maxlength="400" rows="3"></textarea>
                </div>
                <button id="postBtn" class="btn btn-primary" onclick="addPost()">Post</button>
            </form>
        </div>
    {% endif %}
    <div>
        <div id="middleHeading">
        </div>
        <br>
        <div id="showPosts">
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}